
/*Set default background color*/
body {
/*  background: #080808;*/
  background-color: white;
}

/*Dark Green color*/
h1, a, p {
  color: #008000;
}

a, p {
  font-size: 22px;
}

nav a:hover {
  background-color: white;
}

nav a {
  text-decoration: none;
}


div {
  border-left: 4px solid red;
  padding-left: 10px;
}


hr {
  border-top: 1px solid black;
}


#menuBtn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 5px;
  margin-right: 5px;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  color: red;
  text-align: right;
}

#menuBtn a {
  color: red;
  text-decoration: none;
}

#menuBtn a:hover {
  background-color: yellow;
}
