body {
  background: #080808;
}

h1, a, p {
  color: #008000;
}

a,p {
  font-size: 22px;
}

hr {
  border-top: 1px solid black;
}

button {
  background-color: none; 
  color: blue; 
  border: none;
}
